<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1594},{285,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,116}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>back_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1594},{285,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,116}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1421},{751,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,171}}</string>
                <key>sourceSize</key>
                <string>{751,171}</string>
            </dict>
            <key>button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1248},{751,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,171}}</string>
                <key>sourceSize</key>
                <string>{751,171}</string>
            </dict>
            <key>grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1246,1234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1246,1234}}</string>
                <key>sourceSize</key>
                <string>{1246,1234}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1426},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>lock_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1426},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>small_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1248},{178,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,176}}</string>
                <key>sourceSize</key>
                <string>{178,176}</string>
            </dict>
            <key>small_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1248},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1234,1710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe13e0d6e025292f59dc62522794bf72:7665849388ccaf53fba0745c582ff186:e6136aa6596e59eb50098cff9a2f7815$</string>
            <key>textureFileName</key>
            <string>background-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
