<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,344},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,524},{285,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,116}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>back_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,524},{285,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,116}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>back_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,173},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>back_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,644},{751,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,171}}</string>
                <key>sourceSize</key>
                <string>{751,171}</string>
            </dict>
            <key>button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,819},{751,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,171}}</string>
                <key>sourceSize</key>
                <string>{751,171}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,344},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>lock_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,344},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>next_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>next_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,173},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,173},{165,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,167}}</string>
                <key>sourceSize</key>
                <string>{165,167}</string>
            </dict>
            <key>restart_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>restart_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>revert.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,173},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>revert_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,173},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>revert_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>small_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,344},{178,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,176}}</string>
                <key>sourceSize</key>
                <string>{178,176}</string>
            </dict>
            <key>small_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,344},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1016,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f5c5e9a25ec4f78f07b385af0feb07f:f7f87f75a9df1cf37392ccabccabb97a:7089488e0dfcabd80daf51f929bcda0a$</string>
            <key>textureFileName</key>
            <string>buttons-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
