<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{143,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,58}}</string>
                <key>sourceSize</key>
                <string>{143,58}</string>
            </dict>
            <key>back_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,2},{143,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,58}}</string>
                <key>sourceSize</key>
                <string>{143,58}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{376,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,86}}</string>
                <key>sourceSize</key>
                <string>{376,86}</string>
            </dict>
            <key>button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{376,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,86}}</string>
                <key>sourceSize</key>
                <string>{376,86}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>lock_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,2},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>revert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,2},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>small_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>small_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1752,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7801039582685ae1711c8b88563fa1de:77dc4f85609f93c7b742b7f517ff3767:7089488e0dfcabd80daf51f929bcda0a$</string>
            <key>textureFileName</key>
            <string>buttons-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
