<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,174},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,354},{285,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,116}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>back_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,174},{285,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,116}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>back_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>back_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,846},{751,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,171}}</string>
                <key>sourceSize</key>
                <string>{751,171}</string>
            </dict>
            <key>button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,846},{751,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,171}}</string>
                <key>sourceSize</key>
                <string>{751,171}</string>
            </dict>
            <key>cocos2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,354},{573,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{573,162}}</string>
                <key>sourceSize</key>
                <string>{579,168}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,174},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>lock_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,174},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>next_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>next_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,174},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,3},{165,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,167}}</string>
                <key>sourceSize</key>
                <string>{165,167}</string>
            </dict>
            <key>restart_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>restart_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>revert.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,174},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>revert_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>revert_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,3},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>small_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,174},{178,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,176}}</string>
                <key>sourceSize</key>
                <string>{178,176}</string>
            </dict>
            <key>small_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,174},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>texturepacker.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{292,354},{512,488}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{512,488}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>texturepacker.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{64,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1591,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c6b1e2b0f648624b0c64a43f12420e6:87e77b48b7ba1bf6bcb033c6792a3669:7089488e0dfcabd80daf51f929bcda0a$</string>
            <key>textureFileName</key>
            <string>buttons-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
