<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,170},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{285,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,116}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>back_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,517},{285,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,116}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>back_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{751,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,171}}</string>
                <key>sourceSize</key>
                <string>{751,171}</string>
            </dict>
            <key>button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{751,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,171}}</string>
                <key>sourceSize</key>
                <string>{751,171}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>lock_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,339},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>next_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,170},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{165,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,167}}</string>
                <key>sourceSize</key>
                <string>{165,167}</string>
            </dict>
            <key>restart_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>revert.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,170},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>revert_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>small_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,339},{178,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,176}}</string>
                <key>sourceSize</key>
                <string>{178,176}</string>
            </dict>
            <key>small_button_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,339},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{755,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:472ef6b1f8de48f5d1baaa07bcc52186:b64a24cf939a6db440875083557e4674:7089488e0dfcabd80daf51f929bcda0a$</string>
            <key>textureFileName</key>
            <string>buttons-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
