<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1473},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>color1_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,803},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{165,164}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>color2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1473},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>color2_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,971},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{165,164}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>color3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1589},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>color3_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1139},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{165,164}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>color4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1705},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>color4_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,295},{167,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{167,164}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>color5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1589},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>color5_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,463},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{165,166}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>color6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1705},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>color6_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,633},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{165,166}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{209,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,288}}</string>
                <key>sourceSize</key>
                <string>{209,288}</string>
            </dict>
            <key>finger_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1307},{80,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,151}}</string>
                <key>sourceSize</key>
                <string>{80,151}</string>
            </dict>
            <key>finger_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1307},{150,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,79}}</string>
                <key>sourceSize</key>
                <string>{150,79}</string>
            </dict>
            <key>finger_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1390},{150,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,79}}</string>
                <key>sourceSize</key>
                <string>{150,79}</string>
            </dict>
            <key>finger_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,463},{79,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,150}}</string>
                <key>sourceSize</key>
                <string>{79,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colors-hd.pvr.ccz</string>
            <key>size</key>
            <string>{254,1820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6518c9887b88d7c0757b294cfe18a825:854532a7c217afb5b9e3e7c2d3e526c4:d40b0d44e6c98bd89cb2a02aac827742$</string>
            <key>textureFileName</key>
            <string>colors-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
