<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,327},{225,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>color1_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,3},{333,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{333,331}}</string>
                <key>sourceSize</key>
                <string>{345,343}</string>
            </dict>
            <key>color2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,338},{225,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>color2_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,566},{333,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{333,331}}</string>
                <key>sourceSize</key>
                <string>{345,343}</string>
            </dict>
            <key>color3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,554},{225,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>color3_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,3},{333,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{333,331}}</string>
                <key>sourceSize</key>
                <string>{345,343}</string>
            </dict>
            <key>color4.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,338},{226,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,223}}</string>
                <key>sourceSize</key>
                <string>{226,223}</string>
            </dict>
            <key>color4_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,3},{334,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{334,331}}</string>
                <key>sourceSize</key>
                <string>{346,343}</string>
            </dict>
            <key>color5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,338},{225,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,224}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>color5_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,586},{333,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{333,332}}</string>
                <key>sourceSize</key>
                <string>{345,344}</string>
            </dict>
            <key>color6.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,338},{225,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,224}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>color6_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,586},{333,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{333,332}}</string>
                <key>sourceSize</key>
                <string>{345,344}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{393,579}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,579}}</string>
                <key>sourceSize</key>
                <string>{393,579}</string>
            </dict>
            <key>finger_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,565},{159,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,301}}</string>
                <key>sourceSize</key>
                <string>{159,301}</string>
            </dict>
            <key>finger_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,3},{300,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,158}}</string>
                <key>sourceSize</key>
                <string>{300,158}</string>
            </dict>
            <key>finger_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,165},{300,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,158}}</string>
                <key>sourceSize</key>
                <string>{300,158}</string>
            </dict>
            <key>finger_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,565},{158,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,300}}</string>
                <key>sourceSize</key>
                <string>{158,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colors-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1719,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1223dea202d326076f0b23125059a8fe:c7bae81d68084b5fac699c79da81abaa:d40b0d44e6c98bd89cb2a02aac827742$</string>
            <key>textureFileName</key>
            <string>colors-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
