<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>color1_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,469},{111,110}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>color2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,120},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>color2_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,583},{111,110}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>color3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,237},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>color3_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,697},{111,110}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>color4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,354},{111,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>color4_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,811},{111,110}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>color5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1153},{113,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,110}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>color5_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,925},{111,110}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>color6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1270},{113,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,110}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>color6_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1039},{111,110}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colors-hd.pvr.ccz</string>
            <key>size</key>
            <string>{118,1717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64607af305e0e1035aaa5f40b83e383c:987975584a479ba6e572498878f2fe34:d40b0d44e6c98bd89cb2a02aac827742$</string>
            <key>textureFileName</key>
            <string>colors-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
