<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,816},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>color1_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,238},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>color2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,826},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>color2_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,324},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>color3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,876},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>color3_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,410},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>color4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,756},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>color4_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,152},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,82}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>color5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,936},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>color5_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,496},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>color6.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,886},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>color6_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,582},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{98,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,145}}</string>
                <key>sourceSize</key>
                <string>{98,145}</string>
            </dict>
            <key>finger_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,668},{40,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,75}}</string>
                <key>sourceSize</key>
                <string>{40,75}</string>
            </dict>
            <key>finger_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,668},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>finger_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,712},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>finger_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,747},{40,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,75}}</string>
                <key>sourceSize</key>
                <string>{40,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colors.pvr.ccz</string>
            <key>size</key>
            <string>{125,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1223dea202d326076f0b23125059a8fe:c7bae81d68084b5fac699c79da81abaa:d40b0d44e6c98bd89cb2a02aac827742$</string>
            <key>textureFileName</key>
            <string>colors.pvr.ccz</string>
        </dict>
    </dict>
</plist>
