<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{225,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>color1_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,232},{225,223}}</string>
                <key>offset</key>
                <string>{60,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>color2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,461},{225,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>color2_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,690},{225,223}}</string>
                <key>offset</key>
                <string>{60,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>color3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,919},{225,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>color3_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1148},{225,223}}</string>
                <key>offset</key>
                <string>{59,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,60},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>color4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,690},{224,223}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{224,223}}</string>
                <key>sourceSize</key>
                <string>{224,223}</string>
            </dict>
            <key>color4_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,918},{224,223}}</string>
                <key>offset</key>
                <string>{61,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,60},{224,223}}</string>
                <key>sourceSize</key>
                <string>{224,223}</string>
            </dict>
            <key>color5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1377},{225,222}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{225,222}}</string>
                <key>sourceSize</key>
                <string>{225,222}</string>
            </dict>
            <key>color5_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,3},{225,222}}</string>
                <key>offset</key>
                <string>{59,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,61},{225,222}}</string>
                <key>sourceSize</key>
                <string>{225,222}</string>
            </dict>
            <key>color6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,232},{225,222}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{225,222}}</string>
                <key>sourceSize</key>
                <string>{225,222}</string>
            </dict>
            <key>color6_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,461},{225,222}}</string>
                <key>offset</key>
                <string>{60,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,61},{225,222}}</string>
                <key>sourceSize</key>
                <string>{225,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colors-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{456,1711}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64607af305e0e1035aaa5f40b83e383c:987975584a479ba6e572498878f2fe34:d40b0d44e6c98bd89cb2a02aac827742$</string>
            <key>textureFileName</key>
            <string>colors-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
