<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1232,1232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1232,1232}}</string>
                <key>sourceSize</key>
                <string>{1232,1232}</string>
            </dict>
            <key>grid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1},{1232,1232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1232,1232}}</string>
                <key>sourceSize</key>
                <string>{1232,1232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid_3_4-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2468,1234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e36eb541006f52c6c099c6eb7491d13:ece778b7ac8f559b09b0f2f61e143028:8aa141ca6ad9ffca1c13042586d52ede$</string>
            <key>textureFileName</key>
            <string>grid_3_4-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
