<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1251,1251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1251,1251}}</string>
                <key>sourceSize</key>
                <string>{1251,1251}</string>
            </dict>
            <key>grid6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1251,1251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1251,1251}}</string>
                <key>sourceSize</key>
                <string>{1251,1251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid_5_6-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1255,1255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f5e5c446f1d75926cdd686578d782e8:43bbb256e5f03be9074e6c190a5524ad:19b6cdf09edaf291b9f092bc3549e6a2$</string>
            <key>textureFileName</key>
            <string>grid_5_6-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
