<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,7},{309,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,312}}</string>
                <key>sourceSize</key>
                <string>{309,312}</string>
            </dict>
            <key>grid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,7},{313,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,313}}</string>
                <key>sourceSize</key>
                <string>{313,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid_3_4.pvr.ccz</string>
            <key>size</key>
            <string>{648,327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49d801c9b91db7c2cbf4c1e4212ec4d8:73490eab016c51b00d11da0d73fdf860:8aa141ca6ad9ffca1c13042586d52ede$</string>
            <key>textureFileName</key>
            <string>grid_3_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
