<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{616,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,616}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>grid6.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{615,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,616}}</string>
                <key>sourceSize</key>
                <string>{615,616}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid_5_6-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1235,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72da425ffcfe7296f7fcc48004f838a4:86c679a72b25604ba33ef076bbcc496f:19b6cdf09edaf291b9f092bc3549e6a2$</string>
            <key>textureFileName</key>
            <string>grid_5_6-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
